<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
    <section class="todoapp">
        <header class="header">
            <h1>To Do</h1>
            <form th:action="@{/}" method="post" th:object="${todo}">
                <input type="text" class="new-todo" placeholder="새로운 할 일" autofocus th:field="*{title}">
            </form>
        </header>
        <section class="main" th:if="${todoCount>0}">
            <input id="toggle-all" class="toggle-all" type="checkbox">
            <label for="toggle-all">Mark all as complete</label>
            <ul class="todo-list" th:remove="all-but-first">
                <li th:insert="list :: todoItem(${todo})" th:each="item : ${todos}" th:remove="tag">
                </li>
            </ul>
        </section>
        <footer class="footer" th:if="${todoCount>0}">
            <th:block th:unless="${numberOfActiveItems == 1}">
                <span class="todo-count"><strong th:text="${numberOfActiveItems}">0</strong> 개의 할 일</span>
            </th:block>
            <th:block th:if="${numberOfActiveItems == 1}">
                <span class="todo-count"><strong>1</strong> 개의 할 일</span>
            </th:block>
        </footer>
    </section>
    <footer class="info">
    </footer>
    <script th:src="@{/js/base.js}"></script>
</body>

</html>